
/* * { 
    outline: 1px solid #007bff;
    outline-offset: -1px;
}*/

/* body {
    filter: invert(100%);
}

img {
    filter: invert(100%);
} */

/* read-the-docs theme enhancements */

/* Add Nav Banner */
/* .wy-nav-top {
    display: block;
} */

hr {
    /* border-top: 2px solid #000000; */
    border-top: 2px solid #3a7ca8;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #3a7ca8;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  padding: 0 1.618em;
  margin: 12px 0 0 0;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  white-space: nowrap;
}


.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
  color: #404040;
  padding: 0.4045em 1.618em;
  font-weight: bold;
  position: relative;
  background: #343131;
  border: none;
  padding-left: 1.618em -4px;
}

.wy-menu-vertical li.current a:hover {
    background: #4e4a4a;
}

.wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current > a:hover {
  background: #fcfcfc;
}

.wy-menu-vertical li.on a:hover span.toctree-expand,
.wy-menu-vertical li.current > a:hover span.toctree-expand {
  color: gray;
}

.wy-nav-content {
    height: 100%;
    max-width: 800px;
}

/* Bug in read-the-docs theme */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: unset;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background: unset;
}

.wy-menu-vertical li.toctree-l2.current > a {
    font-size: 101%;
    font-weight: bold;
    background: #e3e3e3;
    color: #000000;
}

.wy-menu-vertical li.toctree-l3.current > a {
    font-size: 101%;
}

.wy-menu-vertical a {
    color: #55a5d9;
  }

/* .wy-menu-vertical li.toctree-l1 {
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    color: #55a5d9;
} */

.wy-menu-vertical li.toctree-l1 a.reference.internal.current {
    color: #55a5d9;
  }

.wy-menu-vertical li.current {
background: #343131;
}

.wy-menu-vertical li.toctree-l2 a {
    color: #d9d9d9;
}

.wy-menu-vertical a:hover {
    background-color: #4e4a4a;
    cursor: pointer;
  }

.wy-nav-side {
    color: #9b9b9b;
    background: #343131;
}

/* Change background color when screen is wide to be default */
@media screen and (min-width: 900px) {
    .wy-nav-content-wrap {
      /* background: rgba(0, 0, 0, 0.05); */
      background: 100%;
    }
    .wy-nav-content {
      margin: 0;
      background: #fcfcfc;
      max-width: 875px;
    }
}

/* Change background color when screen is wide to be default */
@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap {
      /* background: rgba(0, 0, 0, 0.05); */
      background: 100%;
    }
    .wy-nav-content {
      margin: 0;
      background: #fcfcfc;
      max-width: 1075px;
    }
}

